.App {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 30px;
  border: solid lightblue;
  padding-bottom: 30px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#title {
  font-size: 40px;
  color: darkgrey;
}

#session-label {
  display: inline-block;
  padding: 40px;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#break-label {
  display: inline-block;
  padding: 40px;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#session-keys {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#break-keys {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#session-increment {
  font-size: large;
  margin: 10px;
}

#session-length {
  font-size: 30px;
  margin: 10px;
}
#session-decrement {
  font-size: large;
  margin: 10px;
}

#break-increment {
  font-size: large;
  margin: 10px;
}

#break-length {
  font-size: 30px;
  margin: 10px;
}
#break-decrement {
  font-size: large;
  margin: 10px;
}
